.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid white;
}
.nav-bar > ul{
  list-style-type: none;
  display:flex;
}

.nav-bar> ul>li {
  padding: 10px;
}
.bg{
  background-color: rgb(164, 164, 16);
}

  
  .logo {
    width: 50%;
    height: 100%;

    /* width: 30%;
    height: 100%;  */
  }
.card{
  width: 200px;
  border: 1px solid white;
  padding:10px;
  margin :10px;
  color:#e6e6e6;
}

.card>img{
  width: 100%;
}

.card-items{
  display: flex;
  flex-wrap: wrap;
  
}












  
  /* .search-bar {
    border: none;
    height: 30px;
    width: 300px;
    border-radius: 3px;
   ;
  }
  
  .icon {
     width: 20%;
    height: 30%;
    /* position: relative; */
    /* float: right;
  }
 .button{
    height: 30px;

 } */ 
 

/*  
.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(106, 31, 120);
  height: 50px;
  align-items: center;
  margin-top: 10px;
} */